[package]
name = "cooklang-sync-server"
version = "0.1.0"
authors = ["Alexey Dubovskoy <alexey@cooklang.org>"]
edition = "2021"
description = "A server library for cooklang-sync"
license = "MPL-2.0"
repository = "https://github.com/cooklang/cooklang-sync"
keywords = ["file-sync", "sync"]

[[bin]]
path = "src/main.rs"
name = "server"


[dependencies]
rocket = { version = "0.5.0", features = ["json"] }
rocket_sync_db_pools = { version = "0.1.0-rc.2", features = [ "diesel_sqlite_pool" ] }
diesel = { version = "2", features = ["returning_clauses_for_sqlite_3_35", "sqlite", "r2d2"] }
diesel_migrations = "2"
rusqlite = { version = "0.30.0", features = ["bundled"] }
async-notify = "0.3.0"
tokio = { version = "1.36.0", features = ["time"] }
multer = "3.0.0"
tokio-util = "0.7.10"
jsonwebtoken = "9.2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
mime = "0.3.17"
futures-core = "0.3.30"
rocket-multipart = "0.1.0"
